#### Contents of the preconfiguration file (for wheezy)

############################
# Localization and keyboard
############################

d-i debian-installer/locale string en_GB.UTF-8

d-i debian-installer/keymap string gb
d-i keyboard-configuration/layout string gb

##############
# Networking
##############

d-i netcfg/choose_interface select auto
# if the hostname is localhost (in the installed system) then it will be set by DHCP
d-i netcfg/get_hostname string localhost
d-i mirror/http/proxy string

########################
# Installation Sources
########################

d-i mirror/country string GB
d-i mirror/http/mirror string ftp.uk.debian.org
d-i mirror/http/directory string /debian
d-i mirror/suite string wheezy

d-i apt-setup/wheezy-updates boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/security-updates boolean true
d-i apt-setup/contrib boolean true

##############################
### Clock and time zone setup
##############################

d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

#################################
# Disk Partitioning/Boot loader
#################################

d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/purge_lvm_from_device boolean true

d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/expert_recipe string root :: 500 10000 1000000 ext4 \
  $primary{ } \
  $bootable{ } \
  method{ format } \
  format{ } \
  use_filesystem{ } \
  filesystem{ ext4 } \
  mountpoint{ / } .

# This makes partman automatically partition without confirmation.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-pc/install_devices multiselect /dev/vda

# Add kernel option to boot with serial console connected
d-i debian-installer/add-kernel-opts string console=ttyS0,115200n8

#################
# User Creation
#################

# Note that this disables root login. Salt will install and provision public
# keys, user accounts, etc.

## accounts - create no user and a locked root account, but enable ssh access as root by downloading and installing a public key
d-i passwd/make-user boolean false
# not ! because user-setup is retarded and won't let you set that
d-i passwd/root-password-crypted string !!

#####################
# Software selection
#####################

# Add saltstack sources
d-i apt-setup/local0/repository string http://debian.saltstack.com/debian wheezy-saltstack main
d-i apt-setup/local0/comment string Repository for salt-minion
d-i apt-setup/local0/key string http://debian.saltstack.com/debian-salt-team-joehealy.gpg.key

# Package configuration
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server salt-minion
d-i base-installer/install-recommends boolean false
d-i popularity-contest/participate boolean false

locales locales/locales_to_be_generated multiselect en_GB.UTF-8 UTF-8
locales locales/default_environment_locale select en_GB.UTF-8

# Do not do automatic updates
d-i pkgsel/update-policy select none

#####################
# Custom commands
#####################

# Remove generated SSH host keys
d-i preseed/late_command string tar xvf late_commands.tar; /late_commands/run

# Halt after install
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
